.App{
    background-image: var(--color-gradient);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-overlay);
    z-index: 9;
    width: 100%;
    height: 100%;
}